/* Caja contenedor */
/* elemento padres */



@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

.principal{

   
    padding: 10px;
    margin-top: 35px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.imagen{

   
    background-image: url("../img/descarga\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;

    
}

.secciones{

    
    margin-bottom: 10px;

    width: 400px;
}

.secciones :hover{

    width: 80%;
}

.header{

    display: flex;
    justify-content: center;
}

nav{

    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    background: red;
    color: white;
    font-size: 20px;



}

a:hover{

    background: yellow;
    color: black;

}


.footer1{

    display: flex;
    

    
}

li{

    list-style-type: none;
    text-align: center;
    width: 400px;
}
